@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

@font-face {
	font-family: HyliaSerif;
	src: url("./fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}

body {
	font-family: "Open Sans";
	background: #0d1117;
	color: #949da7;
}

h1 {
	font-family: HyliaSerif;
	letter-spacing: 4px;
}

footer {
	position: fixed;
	bottom: 0;
}

header {
	text-align: center;
	margin-bottom: 1em;
}

.login form {
	padding: 3em;
	background: #161b22;
}

.svg {
	filter: invert(57%) sepia(1%) saturate(1913%) hue-rotate(173deg)
		brightness(106%) contrast(101%);
	height: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.todoitems {
	padding: 1em;
	background: #161b22;
}

.buttons {
	display: flex;
	justify-content: right;
	align-items: right;
	margin-bottom: 2em;
}

.button {
	margin: 0 1em;
}

#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
}
